/* ADD styling for all of the divs in post.html to match  */

#individual-post-title {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 3em;
    font-weight: 700;
}

#individual-post-date {
    border-top: 1px solid #f1f4f8;
    border-bottom: 1px solid #f1f4f8;
    padding: 24px 0 24px 16px;
    font-weight: 400;
    color: #adb5bd;
}

#individual-post-content {
    padding: 24px 16px 0 16px;
    text-indent: 5%;
    color: #495057;
    line-height: 1.4;
    text-align: justify;
}

.navigation a {
    text-decoration: none;
    border: 1px solid #004186;
    color: #004186;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
}
.navigation a:hover {
    color: red;
}

header {
    background-position: center;
    background-size: cover;
}