body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.post-link {
    text-decoration: none;
}

header {
    min-height: 350px;
    background-size: cover;
    background-position: top;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.home-page header {
    background-image: url(../assets/banner.jpg);
}

header > * {
    z-index: 1;
}
header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.profile-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #fff;
    background-image: url(../assets/profile.png);
    background-size: cover;
}

.profile-name {
    font-size: 3em;
    font-weight: 700;
}

.profile-subtext {
    margin-top: 8px;
}

.main {
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.main-container {
    max-width: 750px;
    min-width: 600px;
    width: 100%;
    padding: 0 16px;
}

.post {
    border: 1px solid #eaecee;
    border-radius: 8px;
    display: flex;
    overflow: hidden;
    min-height: 200px;
    transition: all 0.25s;
    margin-top: 24px;
}

.post:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 2rem 5rem 0 rgba(0,0,0,.1);
}

.post-image {
    background-position: center;
    background-size: cover;
    flex-basis: 40%;
}

.post-content {
    flex-basis: 60%;
    padding: 24px;
}

.post-date {
    color: #adb5bd;
    font-size: 12px;
    font-weight: 700;
}

.post-title {
    margin: 16px 0 0 0;
    font-size: 1.5em;
    font-weight: 700;
    color: #333;
}

.post-title h4 {
    margin: 0;
}

.post-text {
    font-size: 1em;
    font-weight: 400;
    margin: 4px 0 0 0;
    color: #495507;
    line-height: 1.4;
    max-height: 80px;
    overflow: hidden;
}

.nav-button.new-post-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 24px;
    background-color: #004186;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    transition: all 0.25s ease-in-out;
}

.nav-button.new-post-button:hover {
    background-color: #002349;
}

footer {
    min-height: 100px;
    background-color: #eaecee70;
    color: #929eaa;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 14px;
}